<template name="addQuestion">
  <div class="container">
  <div class="row">
     <h1>Welcome to Math challenge</h1>
     
	  <div class="col-md-6">
 <div class="panel panel-default">
      <div class="panel-heading">Add new Math Challenges</div>
      <div class="panel-body"> {{> quickForm collection="challenge" id="insertPostForm" type="insert"}}
    </div>
  </div>
    

     
	

</div>

 </div>
 </div>
</template>