<body>
 {{> header}}
 {{> applicationLayout}}
</body>
<template name="applicationLayout">
  {{> Template.dynamic template=main}}
</template>

<template name="hello">
  <div class="container">
  <div class="row">
     <h1>Welcome to Math challenge</h1>
      {{#each questions}}
	  <div class="col-md-4">
	   <div class="panel panel-default">
	   <div class="panel-heading">
       <h3> Question </h3>
  </div>
  <div class="panel-body">
   <p>Question:  {{question}} .</p>
	
			<form class="response">
					
					<div class="form-group">
					<div class="col-sm-8">
				<input type="text" name="answer" class="form-control" placeholder="right answer here">
				</div>
				
			     </div>


			</form>
			<div class="col-sm-3">
				<button class="btn btn-success hint">Hint</button>
				</div>
		
  </div>
  </div>
  </div>
  {{/each}}

</div>
 </div>
</template>



