<template name="home">
  <div class="container">
  <div class="row">
     <h1>Welcome to Math challenge</h1>
     
	  <div class="col-md-4">
 <div class="panel panel-default">
      <div class="panel-heading">Math Challenges</div>
      <div class="panel-body">Panel Content <a href="/math">Math Chalenges</a></div>
    </div>
  </div>
    
	  <div class="col-md-4">
 <div class="panel panel-default">
      <div class="panel-heading">English Challenges</div>
      <div class="panel-body">Panel Content</div>
    </div>
  </div>
     
	  <div class="col-md-4">
 <div class="panel panel-default">
      <div class="panel-heading">Science Challenges</div>
      <div class="panel-body">Panel Content</div>
    </div>
  </div>

</div>
 </div>
</template>