<template name="login">
 <div class="container">
  <div class="row">
  <div class="col-md-4 offset-md-4">
<form class="loginUser">
  <div class="form-group">
    <label for="Email1">Email address</label>
    <input type="text" class="form-control" name="email" id="exampleInputEmail1" placeholder="Email">
  </div>
  <div class="form-group">
    <label for="Password1">Password</label>
    <input type="password" class="form-control" name="password" id="exampleInputPassword1" placeholder="Password">
  </div>
  {{#if newUser}}
   <div class="form-group">
    <label for="Password2">Password again</label>
    <input type="password" class="form-control" name="password2" id="exampleInputPassword2" placeholder="Password">
  </div>
  {{/if}}
  <div class="checkbox">
    <label>
      <input type="checkbox"> keep me logged in
    </label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button> <a class="btn btn-warning register">regsiter</a>
</form>
</div>
<div class="col-md-4">
image will go here
</div>
</div>
</div>
</template>