<template name="header">
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
	  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
      <a class="navbar-brand" href="#">EducationApp</a>
    </div>
	 <div id="navbar" class="navbar-collapse collapse ">
    <ul class="nav navbar-nav">
      <li class="active"><a href="/home">Home</a></li>
      <li><a href="/reports">Reports</a></li>
      <li><a href="/admin">Admin</a></li> 
      <li><a href="#">Page 3</a></li> 
    </ul>
	 <ul class="nav navbar-nav navbar-right">
                    <li><a id="loginbutton">
                    <span class="glyphicon glyphicon-log-in"></span> {{> loginButtons}}</a>
                    </li>
                </ul>
    </div>
  </div>
</nav>
</template>